@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@skeletonlabs/skeleton/tailwind"; */
/* @import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/crimson'; */
